﻿@{
    ViewData["Title"] = "About Mufacturing Intelligence User Manager";
}
<h2>@ViewData["Title"]</h2>

<p>This is Manufacturing Intelligence's User Management system, which allows for the creation and management of users, roles and permissions as well as permission templates and role templates which are cloned to create instances of each to actually assign to users.</p>
<p>Permissions control what operations a user may perform as well as what information they are granted access to; these may be assigned individually, or by way of the permissions granted to a role.</p>
<p>The users and permissions managed from this system are used to authentiacte users and issue tokens for authorisation, based on claims contained within the issued token which are derived from the user's assigned permissions.</p>
