﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    L10, 172 St George's Terrace<br />
    Perth, WA 6000<br />
    <abbr title="Phone">P:</abbr>
    +61 8 6444 1708
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@manufacturingintelligence.com.au">info@manufacturingintelligence.com.au</a><br />
</address>
