﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h1>Welcome to MANUFACTURING INTELLIGENCE User Manager</h1>
        <p>From here you may manage your <a asp-area="" asp-controller="ApplicationUsers" asp-action="Index">users</a>, <a asp-area="" asp-controller="ApplicationRoles" asp-action="Index">roles</a>, <a asp-area="" asp-controller="RoleTemplates" asp-action="Index">role templates</a> and <a asp-area="" asp-controller="PermissionTemplates" asp-action="Index">permissions</a>.</p>
        <p>Users are assigned claims to give them permissions to perform actions within the system. They may be assigned claims individually, or by being placed in a role, which possesses a set of claims.</p>
        <p>Roles are created from role templates; once they have been created they may be then assigned to users who will then gain the access to the actions enabled by each assigned role's attached permissions.</p>

        <ul>
            <li><a asp-area="" asp-controller="ApplicationUsers" asp-action="Index">Users</a></li>
            <li><a asp-area="" asp-controller="ApplicationRoles" asp-action="Index">Roles</a></li>
            <li><a asp-area="" asp-controller="RoleTemplates" asp-action="Index">Role Templates</a></li>
            <li><a asp-area="" asp-controller="PermissionTemplates" asp-action="Index">Permissions</a></li>
        </ul>
    </div>

</div>
