﻿@model LoginVm

<div class="bg-primary panel-body">
    <h4>
        Log In
    </h4>
</div>

<div class="text-danger" asp-validation-summary="All"></div>

<form method="post" asp-controller="Account" asp-action="Login" asp-antiforgery="true" class="form-horizontal">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    @*<div class="form-group">
            <label class="control-label col-sm-2" asp-for="Email">Email:</label>
            <div class="col-sm-4">
                <input class="form-control" asp-for="Email"/>
            </div>
        </div>*@
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Username">Username:</label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="Username" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Password">Password:</label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="Password" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>

</form>
