﻿@model ClaimsTemplate

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClaimsTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
            <ul>
                <li><h2>Claims:</h2></li>
                @foreach (var claim in Model.TemplateClaims)
                {
                    <li>
                        <div>@claim.Name - @claim.DefaultValue ?? "No default value set"</div></li>
                }
            </ul>
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
