﻿@model IEnumerable<Claim>

<div class="bg-primary panel-body">
    <h4>
        Claims
    </h4>
</div>

<table class="table table-condensed table-bordered table-striped">
    <tr>
        <th>Subject</th>
        <th>Issuer</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    
    @if (Model == null || !Model.Any())
    {
        <tr>
            <td colspan="4" class="text-center">No Claims</td>
        </tr>
    }
    else // at least one claim 
    {
        foreach (var claim in Model.OrderBy(c => c.Type))
        {
            <tr>
                <td>@claim.Subject.Name</td>
                <td>@claim.Issuer</td>
                <td claim-type="@claim.Type"></td>
                <td>@claim.Value</td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
    Home
</a>