﻿<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Users</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Manufacturing Intelligence</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a a asp-controller="SuperAdmin" asp-action="Index">Users <span class="sr-only">(current)</span></a></li>
                            <li><a asp-controller="ClaimsTemplates" asp-action="Index">Claims Templates</a></li>
                            <li><a asp-controller="TemplateClaims" asp-action="Index">Template Claims</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            @*<div>
                <div><a asp-controller="Home" asp-action="Index">Home</a></div>
                <div><a asp-controller="SuperAdmin" asp-action="Index">Users</a></div>
                <div><a asp-controller="ClaimsTemplates" asp-action="Index">Claims Templates</a></div>
                <div><a asp-controller="TemplateClaims" asp-action="Index">Template Claims</a></div>
            </div>*@
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
