﻿@using System.Text
@model RoleTemplate

@{
    ViewData["Title"] = "Details";
}

<h2>Role Template Detail </h2>

<div>
    @*<h4>RoleTemplate</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <hr />
    <dl>
        <dt>
            @Html.Label("Assigned Permissions")
        </dt>
        <dd>
            @*@Html.Raw("<div class=\"row\">")*@
            @{
                var sb = new StringBuilder();
                foreach (var permissionTemplate in Model.PermissionTemplates)
                {
                    sb.Append($"<div class=\"row\"><div class=\"col-md-3\">{permissionTemplate.Name}</div><div class=\"col-md-6\">{permissionTemplate.Description}</div></div>");
                }
            }
            @Html.Raw(sb.ToString())
            @*@Html.Raw("</div>")*@
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
