﻿@model IEnumerable<ClaimsTemplate>

<div class="bg-primary panel-body">
    <h4>
        Claims Templates
    </h4>
</div>

<table class="table table-condensed table-bordered table-striped">
    <tr>
        <th>ID</th>
        <td>Name</td>
        <td>Users</td>
        <td></td>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="4" class="text-center">
                No claims templates
            </td>
        </tr>
    }
    else
    {
        foreach (var template in Model)
        {
            <tr>
                <td>@template.Id</td>
                <td>@template.Name</td>
                <td identity-role="@template.Id"></td>
                <td>
                    <a class="btn btn-sm btn-success" asp-controller="ClaimsTemplates" asp-action="Edit" asp-route-id="@template.Id">
                        Edit
                    </a>
                    <a class="btn btn-sm btn-danger" asp-controller="ClaimsTemplates" asp-action="Delete" asp-route-id="@template.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary" asp-controller="ClaimsTemplates" asp-action="Create">
    Create
</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">
    Home
</a>